<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        <h1>States</h1>
        <ul>
            {% for s in stateslist | sort(attribute="name") %}
            <li>{{ s["id"] }}: <b>{{ s["name"] }}</b>
                <ul>
                    {% for c in s.cities | sort(attribute="name") %}
                    <li>{{ c["id"] }}: <b>{{ c["name"] }}</b></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </body>
</html>
